<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Team Lead</h1>
            <span><address> <a href="http://kissflow.com/">Kissflow</a></address><time>July 2021 to present</time></span>
        </header>
        <br>
        <span>Orchestrated the delievery of multiple teams spanning diverse functions.Contributing to architecture discussion across the Engineering team. Proactively enhanced the overall stability and resiliency of the product through collaborative efforts.</span>
         <h5>Workflow Module</h5>
        <h6 style="font-style:italic">Roles and Responsibilities</h6>
        <ul class="indent">
            <li>
Admin Governance Feature:
Engineered a pivotal Admin Governance feature, empowering administrators to track and monitor applications, manage data import/export at the organizational level. This critical addition garnered prominent recognition in Gartner reviews, instrumental in securing lucrative enterprise deals               </li>
            <li>
Enhanced Customer Functionality:
Designed and implemented customer-centric features, including Email approval, task delegation, and Email customization, optimizing user experience and expanding the platform's functionality.            </li>
        <li>
            Decision Table Engine:
Developed a highly efficient Decision Table Engine, a unique selling proposition (USP) catering to enterprise needs. This engine enables users to create dynamic conditions and rules, contributing to the platform's versatility and addressing complex business requirements.
        </li>
        </ul>

        <br>
         <h5>Analytics Module</h5>
        <h6 style="font-style:italic">Roles and Responsibilities</h6>
        <ul class="indent">
            <li>
Conducted in-depth research to harness existing data for insightful analytics, leading to the establishment and growth of a multi-member team. Spearheaded the introduction of cutting-edge technologies such as Snowflake, Dataproc, and Spark into the engineering stack, revolutionizing our capabilities for enhanced data processing and insights generation.            </li>
               <li>
Designed and implemented a robust Change Data Capture (CDC) data pipeline for analytics, seamlessly orchestrating the ingestion of data from MongoDB to Snowflake. This initiative optimized data flow, ensuring real-time and efficient integration between diverse data sources and our analytical platform.               </li>
            <li>
Architected a data access feature catering specifically to enterprise clients. This  ensures a secure pathway for accessing data, facilitating seamless integration with visualization tools such as PowerBI and Tableau.             </li>
       <li>Designed and implemented dynamic dashboards that empower customers to tailor insights based on their unique data preferences</li>
        </ul>

        <br>
         <h5>Robust Module</h5>
        <h6 style="font-style:italic">Roles and Responsibilities</h6>
        <ul class="indent">
            <li>Leading ongoing Research and Development efforts to fortify Kissflow's architecture, focusing on achieving excellence in security, high performance, and resilience for diverse workloads. Spearheading innovative solutions to ensure excellence in key areas such as security, reliability, performance efficiency, cost optimization, and sustainability.</li>

<li> Currently, in progress are proposed solutions including throttling, Compute isolation (Cell architecture), and Tier isolation. These initiatives aim to elevate the platform's capabilities, setting benchmarks for industry-leading performance and security standards.</li>

        </ul>

    </article>
     <article>
        <header>
            <h1>Lead Engineer</h1>
            <span><address> <a href="http://kissflow.com/">Kissflow</a></address><time>Aug 2017 to July 2021</time></span>
        </header>
         <br>
<span>Led and managed a high-performing team of three individuals, fostering a collaborative environment. Effectively collaborated with cross-functional teams to spearhead the management and development of innovative features.
</span>
                          <h6 style="font-style:italic">Roles and Responsibilities</h6>

        <ul class="indent">
            <li>
Workflow Engine Scaling:
Conducted comprehensive Research and Development (R&D) on scaling the workflow engine, leading to the successful implementation of a microservices architecture. This initiative empowered applications to scale independently, significantly enhancing overall system efficiency            </li>
               <li>
Architectural Innovation:
Architected and developed a next-generation version of the workflow engine, introducing a scalable data model. This included a transformative revamp of the database layer, transitioning from MySQL to NoSQL for improved performance and adaptability.               </li>

        </ul>
    </article>
         <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address> <a href="http://kissflow.com/">Kissflow</a></address><time>2015 to Aug 2017 </time></span>
        </header>
             <h6 style="font-style:italic">Roles and Responsibilities</h6>
        <ul class="indent">
            <li>
                Rule Engine Development:
Contributed to the development of multiple features in the rule engine using Antlr and AST tree implementation. Empowered end-users to write Excel formulas within the application, enhancing its functionality.

            </li>
            <li>
            Workflow Engine Optimization:
Optimized existing modules within the workflow engine and introduced several new features, both on the backend and frontend. Ensured seamless integration of functionalities that communicate with other Kissflow modules, enhancing overall workflow efficiency.
        </li>
            <li>
            SAML Integration: Successfully implemented SAML integration, empowering users to configure custom URLs for direct system access, eliminating the need for the Kissflow login page.
            </li>
            <li>

Android App Enhancement:
Revamped the Android app with a focus on user experience, introducing an enhanced UI and optimizing API calls. Resulted in a substantial improvement in app loading times, enhancing overall performance.            </li>

            </li>

        </ul>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>ReduceData (Formally <a href="https://snapdeal.com" target="_blank">Snapdeal</a> ), Chennai</address><time>2014 to 2015</time></span>
        </header>
                <h6 style="font-style:italic">Roles and Responsibilities</h6>

        <ul class="indent">
             <li>
                Write algorithms that efficiently analyzes the request from SSP and filter the creatives based on the filter criteria and bid creative space for an optimal price.
            </li>
            <li>
                Build High responsive pages and responsible for implementing visual elements that users see and interact with in a web application
               </li>
            <li>
                Analyze, Brainstorme, Re Design and research on different technologies to improvise the performance of the system to achieve High Performance, Scalability, High Availability, Low Latency with lesser cost.
            </li>


        </ul>

    </article>
</section>
