<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Product Developer</h1>
            <span><address>Kissflow </address><time>2015 to present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Android Developer</h1>
            <span><address>Kissflow </address><time>2015-present</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>ReduceData (Formally <a href="https://snapdeal.com" target="_blank">Snapdeal</a> ), Chennai</address><time>2014 to 2015</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
