<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Product Developer</h1>
            <span><address>Kissflow </address><time>2015 to present</time></span>
        </header>
        <p> KiSSFLOW is a workflow tool & business process workflow management software to automate your workflow process.
            A workflow consists of an orchestrated and repeatable pattern of business activity ,a sequence of operations, declared as work of a person or group an organization of staff, or one or more simple or complex mechanisms
        </p>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><address>ReduceData (Formally <a href="https://snapdeal.com" target="_blank">Snapdeal</a> ), Chennai</address><time>2014 to 2015</time></span>
        </header>
        <p> ReduceData is a Saas based RTB platform.Real-time bidding (RTB) is platform by which advertising inventory is bought and sold on a per-impression basis, via programmatic instantaneous auction .
            With real-time bidding, advertising buyers bid on an impression and, if the bid is won, the buyer’s ad is instantly displayed on the publisher’s site.
        </p>
    </article>
</section>
