<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h2>Reduce Data</h2>
		<ul>
			<li>
				<h4>DSP Ad-Server</h4>
				<p>
					The project is to develop a DSP Ad server to serve ads with various targeting options. Increasing the performance of the ads with audience targeting and re-targeting solutions to bring more relevant ads to the users. To build a user friendly User Interface that can allow users to create campaigns and view analytics charts to analyze and optimize the campaigns.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Real-Time Bid Computation Engine using Real-Time data.
					</li>
					<li>
						RTB (Real-Time Bidding) and SSP (Supply Side Platform) integration (Rubicon, Mopub, Nexage, Appnexus).
					</li>
					<li>
						UI for the platform with Play framework, ember along with web technologies like sass, ruby gems, grunt

					</li>
					<li>
						API services for the platform with Restexpress and clojure (http-kit)
					</li>
				</ul>
			</li>
			<li>
				<h4>White Label RTB Platform</h4>
				<p>
					Agency White Label Features (Multi Agency, Multi Account and Multi User management) with custom configuration - such as: logo, css, cname, domain, ssl, credit card payments etc.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Redirect to customized white label platform for the configured sub-domain using nginx.
					</li>
					<li>
						Load customized theme for multi agency and login page using Sass css.
					</li>
			   </li>
				</ul>
			</li>
			<li>
				<h4>Real-time Analytics</h4>
				<p>
					Real Time Data Processing and Analytics using Zookeeper quorum, Distributed Kafka, Distributed HBase and Multiple Reporters.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Parse and analyse the realtime data in kafka, and use hbase stream writer and map reduce api to update transcation data.
					</li>
			   </li>
				</ul>


		</ul>
		<!--<h5>-->
			<!--<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">White Label RTB Platform</a></strong>-->
			<!-- - Ei viderer tacimates pro, quem assum ea nam. Veritus omnesque eam te. Et natum mucius tamquam vel,-->
			<!--ea dolorem volumus deterruisset nec. Graeci mentitum sea an, eu prima elaboraret est.-->
		<!--</h5>-->
		<!--<h5>-->
			<!--<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>-->
			<!-- - An eripuit phaedrum qui, nec facer splendide ex, vel ea assum facilisi convenire.-->
			<!--Te his neglegentur consectetuer.-->
		<!--</h5>-->
    	<!--<h5>-->
			<!--<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>-->
			<!-- - An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.-->
		<!--</h5>-->
		<!--<h5>-->
			<!--<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>-->
			<!-- - Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,-->
			<!--ea eam timeam viderer aliquid, cu integre omittam moderatius quo.-->
		<!--</h5>-->
		<!--<h5>-->
			<!--<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>-->
			<!-- - Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,-->
			<!--eam doming blandit facilisis.-->
		<!--</h5>-->
		<!--<h5>-->
			<!--<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>-->
			<!-- - Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,-->
			<!--usu ex sapientem gubergren. Tamquam admodum ei usu.-->
		<!--</h5>-->
		<!--<h5>-->
			<!--<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>-->
			<!-- - Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum-->
			<!--tractatos partiendo at, debet ubique oporteat ut his.-->
		<!--</h5>-->


    </div>
  </div>
</div>
</section>
