<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">


		<h2>Kissflow (Orangescape Technologies)</h2>
		<ul>
			<li>
				<h4>
					Workflow Engine
				</h4>
				<p>
					Workflow engine takes certain params and predicts the next set of business actions to be taken.
					The project supports complex and dynamic workflow to be created by the end-users and automate the process.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Build features ,Improve the performance and maintain the workflow engine algorithm using python that decides the next action.
					</li>
					<li>
						Upload the user defined workflow to Google appengine runtime.
					</li>


				</ul>
			</li>
			<li>
				<h4>
					Rule Engine
				</h4>
				<p>
					Rule Engine supports n number of Excel formula which can be used by end-users to create custom formula inside their workflow.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Analyze,design and improve the performance of rule engine algorithm and optimize the sql queries while crunching lakhs of data.
					</li>
				</ul>

		</li>
			<li>
				<h4>
					Billing Services
				</h4>
				<p>
					Integrate recurring billing services with KiSSFLOW system, Customers can purchase,upgrade to any new plan using kissflow billing portal.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Build and maintain recurring billing services using charge api services.
					</li>
					<li>
						Handle chargebee webhook on sucessfull transcation made by user.
					</li>
				</ul>
					</li>

		</ul>


		<h2>Reduce Data</h2>
		<ul>
			<li>
				<h4>DSP Ad-Server</h4>
				<p>
					The project is to develop a DSP Ad server to serve ads with various targeting options.
					Increasing the performance of the ads with audience targeting and re-targeting solutions to bring more relevant ads to the users. To build a user friendly User Interface that can allow users to create campaigns and view analytics charts to analyze and optimize the campaigns.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Real-Time Bid Computation Engine using Real-Time data.
					</li>
					<li>
						RTB (Real-Time Bidding) and SSP (Supply Side Platform) integration (Rubicon, Mopub, Nexage, Appnexus).
					</li>
					<li>
						UI for the platform with Play framework, ember along with web technologies like sass, ruby gems, grunt

					</li>
					<li>
						API services for the platform with Restexpress and clojure (http-kit)
					</li>
				</ul>
			</li>
			<li>
				<h4>White Label RTB Platform</h4>
				<p>
					Agency White Label Features (Multi Agency, Multi Account and Multi User management) with custom configuration - such as: logo, css, cname, domain, ssl, credit card payments etc.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Redirect to customized white label platform for the configured sub-domain using nginx.
					</li>
					<li>
						Load customized theme for multi agency and login page using Sass css.
					</li>
			   </li>
				</ul>
			</li>
			<li>
				<h4>Real-time Analytics</h4>
				<p>
					Real Time Data Processing and Analytics using Zookeeper quorum, Distributed Kafka, Distributed HBase and Multiple Reporters.
				</p>
				<h5 style="font-style:italic"> Responsibilities</h5>
				<ul>
					<li>
						Parse and analyse the realtime data in kafka, and use hbase stream writer and map reduce api to update transcation data.
					</li>
			   </li>
				</ul>


		</ul>

    </div>
  </div>
</div>
</section>
