<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
       <p> <span style = "font-weight:bold">Operating Systems:&nbsp</span> Linux,Ubuntu,Windows </p>
<p> <span style = "font-weight:bold">Languages/Technologies:&nbsp</span>	Java ,Python </p>
<p> <span style = "font-weight:bold">Database/Tools:&nbsp</span>		MySQL, MySQL Administrator,SQLAlchemy </p>
<p> <span style = "font-weight:bold">NoSQL DB/Tools:&nbsp</span>		HBase, Cassandra,Mem,Mongo-db,Snowflake,cache,Redis-cache </p>
        <p> <span style = "font-weight:bold">Web Technologies:&nbsp</span>		HTML, HTML5, JavaScript, Object Oriented JavaScript, Ember,REST, JSON, Ajax, JQuery </p>
<p> <span style = "font-weight:bold">Application/Web Servers:&nbsp </span>   Tornado,Gunicorn,flask,NginX </p>
        <p> <span style = "font-weight:bold">Deployment Servers:&nbsp </span> Amazon AWS, Google appengine,Docker,Cloud SQL</p>
<p> <span style = "font-weight:bold">Version Control:&nbsp</span>		Git, Bitbucket </p>
<p> <span style = "font-weight:bold">Project Management:&nbsp</span>		Atlassian JIRA, Atlassian Confluence, Git Wiki
    </article>
</section>


<!--<section class="thirteen columns">-->
    <!--<h1>Programming Skills</h1>-->
    <!--<article>-->
        <!--<header>-->
            <!--<h1>Software engineering & web development</h1>-->
        <!--</header>-->
            <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>-->
            <!--&nbsp;&nbsp;<em>Java</em>, <em>Python</em>,<em>OOPS</em>-->
        <!--<p>-->
            <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>-->
            <!--&nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>-->
        <!--</p>-->
    <!--</article>-->
<!--</section>-->