<section class="thirteen columns">
    <h1>Technical Skills</h1>
    <article>
       <p> <span style = "font-weight:bold">Operating Systems:&nbsp</span> Linux,Ubuntu,Windows </p>
<p> <span style = "font-weight:bold">Languages/Technologies:&nbsp</span>	Java ,Python </p>
<p> <span style = "font-weight:bold">Database</span>	MySQL, Postgres,Mongodb, Snowflake</p>
<p> <span style = "font-weight:bold">Application/Web Servers:&nbsp </span>   Tornado,Gunicorn,flask,NginX </p>
        <p> <span style = "font-weight:bold">Cloud  Platform:&nbsp </span> Amazon AWS,Google cloud, GKE, Kubernetes,Docker</p>
    </article>
</section>


<!--<section class="thirteen columns">-->
    <!--<h1>Programming Skills</h1>-->
    <!--<article>-->
        <!--<header>-->
            <!--<h1>Software engineering & web development</h1>-->
        <!--</header>-->
            <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>-->
            <!--&nbsp;&nbsp;<em>Java</em>, <em>Python</em>,<em>OOPS</em>-->
        <!--<p>-->
            <!--<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>-->
            <!--&nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>-->
        <!--</p>-->
    <!--</article>-->
<!--</section>-->