<section class="thirteen columns">
    <h1>Summary</h1>

    <p>
         3+ years of experience as full stack developer with expertise in Analysis, Architect, Design, Developing  web based/back end distributed, n-tier and client/server architecture. Having sound domain knowledge in Digital Advertising (Mobile and Display) Industry and Workflow management systems (BPMN).I'm good at object-oriented programming and design skills and expertise in problem solving techniques,debugging and troubleshooting skills.
    </p>
</section>
