<section class="thirteen columns">
    <h1>Summary</h1>

    <p>
I am an accomplished Team Lead with a robust background spanning over 9 years as a full-stack developer. My expertise lies in the seamless architecture, design, and development of web-based, back-end distributed systems.My strength lies in strong object-oriented programming and design skills, enabling me to navigate complex challenges effectively. I excel in employing advanced problem-solving techniques, ensuring the delivery of robust and efficient solutions. I am enthusiastic about leveraging my skills to lead and inspire teams, fostering innovation and achieving excellence in every project undertaken.    </p>
</section>